div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      // Insert logo below in the future
      a.brand(href='/') Savage Games

      ul.nav
        li: a(href='/') Home
        li: a(href='http://forum.savagegames.net/') Forums
        li: a(href='/classes') Classes
        li: a(href='/stats') Stats

      form#search-players-form.navbar-search.pull-right
        input#search-players.search-query.span4(type='text', placeholder='Search Players')
