block head
  title 404 Page Not Found | Savage Games - Minecraft Hunger Games Server

div.row
  div.span8
    p <iframe width="100%" height="315" src="http://www.youtube.com/embed/xPLMwI1wabE?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
  div.span4.sorry-404
    h1.jumbo-404 404
    p Sorry, the computer couldn't find your page. In the meantime, here's some Fun.
