div.row
  div.span8
    h1.jumbo-404 404
  div.span4.sorry-404
    p
      | Sorry, we couldn't find your page. In the meantime, you can go back to the 
      a(href='/') main page 
      | or something.
