div.row
  div.span7
    div.hero-unit.hero-video
      iframe(width='100%', height='100%', src='http://www.youtube.com/embed/oHg5SJYRHA0', frameborder='0', allowfullscreen=true)
  div.span5
    h1 The Ultimate Minecraft Hunger Games Server
    p
      :markdown
        Welcome to the most intense **[Minecraft Hunger Games Server](http://savagegames.net)** in existence.
        With *over 20 classes*, completely *custom map generators*, and a dedicated team of admins,
        you won't be finding a better **Hunger Games Minecraft Server** than this one.
    h2 play.savagegames.net

div.row
  div.span8
    div.page-header
      h1 News
    
    each entry in news
      div
        a(href=entry.link)
          h2!= entry.title
        //h2= entry.publishedDate + ' ' + entry.author

        div!= entry.content

  div.span4
    h1 TODO sidebar
