block head
  title Savage Games | Minecraft Hunger Games

div.row
  div.span12
    div.hero-unit.centered
      h1 The Ultimate Minecraft Hunger Games Server
      p
        :markdown
          Welcome to the most intense **[Minecraft Hunger Games Server](http://savagegames.net)** in existence.
          With *over 20 classes*, completely *custom map generators*, and a dedicated team of admins,
          you won't be finding a better **Hunger Games Minecraft Server** than this one.
      h2 play.savagegames.net

div.row
  div.span8
    div.page-header
      h1 Savage Games News 
        small from our 
          a(href='http://savage-games.enjin.com/') Enjin site
    
    each entry in news
      div
        a(href=entry.link)
          h2!= entry.title
        //h2= entry.publishedDate + ' ' + entry.author

        div!= entry.content

  div.span4
    include includes/sidebar
