div.row
  div.span8
    h1.jumbo-404 404
  div.span4.sorry-404
    p Player not found. This player hasn't had the joy of playing on this server before.
    p Tell #{name} to join us; we always love new faces! :)
