block head
  title #{game.getWinner().name} wins | Savage Games | Minecraft Hunger Games Server

div.row
  div.span8
    h1 Savage Games Tournament Stats
      br
      small= game.prettyDate()

    table.table.table-striped.table-bordered
      thead
        th Rank
        th Player
        th Class
        th Time Played
        th Kills
        th Score
      tbody
        td 1
        td AlbireoX
        td SomeClass
        td 100 milliseconds
        td Player1, Plaeyer 2, Player 3
        td 9001+

  div.span4
    include ../includes/sidebar
